h1 {
    width: 100%;
    text-align: center;
}

h1,
h2,
h3 {
    color: darkblue;
}

.feedback {
    height: 3rem;
}

.feedback p {
    margin-top: 2rem;
    background-color: red;
    color: white;
    text-align: center;
    display: none;
}
